@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainBodyArea {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gradient__red_yellow {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);
}

.gradient__purple_teal {
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);
}

.gradient__pink {
  background: #f857a6;
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
  background: linear-gradient(to right, #ff5858, #f857a6);
}

.gradient__green {
  background: #1cd8d2;
  background: -webkit-linear-gradient(to right, #93edc7, #1cd8d2);
  background: linear-gradient(to right, #93edc7, #1cd8d2);
  color: rgba(0, 0, 0, 0.8);
}

.gradient__violet {
  background: #4776e6;
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
  background: linear-gradient(to right, #8e54e9, #4776e6);
  color: rgba(0, 0, 0, 0.8);
}
